*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: sans-serif;
    text-decoration: none;
}
.background_colorfixed{
    background-color: rgb(240, 240, 240);
}
.barra{
    font-size: 18px;
}
/*Header*/
header{
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    background: rgb(238, 237, 237);
}
.Container_Superior{
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.register_buycar_search{
    display: flex;
    padding: 7px 8px;
    justify-content: space-between;
   
}
.search input{
    width: 165px;
    height: 25px;
    padding: 7px;
    border-radius: 6px;
    background-color: transparent;

}
.Search_boton{
   width: 25px;
   cursor: pointer;
   padding: 0 3px;
}
.register{
    width: 25px;
    color: black;
    cursor: pointer;
    padding: 0 3px;
    transition: all 200ms;
}
.buycar{
    width: 25px;
    color: black;
    cursor: pointer;
    padding: 0 3px;
    transition: all 200ms;
}
.buycar:hover,.register:hover{
    color: gray;
    transform: scale(1.3);
}
.title{
    align-items: center;
    margin-right: auto;
    color: black;
    padding: 10px;
    font-weight: 300px;
}

.logo img{
    width:60px;
}
/*Final de Header*/
.text-First{
    font-size: 22px;
    display: flex;
    padding: 40px 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/*Barra del Menu*/
.container_menu{
    width: 100%;
    height: 80px;
    background-color:rgb(143, 179, 183);
    padding: 0px 20px;

}
.menu{
    max-width: 1200px;
    height: 100%;
    margin: auto;
}
nav{
    height: 100%;
}
nav > ul{
    height: 100%;
    display: flex;
}
nav ul li{
    height: 100%;
    list-style: none;
    position: relative;
}
nav > ul > li:first-child > a{
    background-image: url(./imagenes/casa.h.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 20px 40px;
}
nav > ul > li:first-child:hover > a{
    background-image: url(./imagenes/casa.h.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center center;
}

nav > ul > li{
    height: 100%;
    list-style: none;
    position: relative;
}
nav > ul > li > a{
    height: 100%;
    height: 100%;
    display: flex;
    color: white;
    align-items: center;
    padding: 10px;
    text-transform: uppercase;
    font-size: 16px;
    transition: all 300ms ease;
    font-weight: 500;
}
nav > ul > li > a:hover{
    transform: scale(1.1);
    background: rgb(54, 113, 127);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}
#selected{
    transform: scale(1,1);
    background-color: rgb(54, 113, 127);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5)
}
/*Final del menu principal*/
/*Sub menu*/
nav ul li ul{
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color:rgb(213, 247, 251);
    position: absolute;
    top: 90px;
    left: -5px;
    padding: 14px 0px;
    visibility: hidden;
    opacity: 0;
    z-index: 10;
    box-shadow:0px 0px 10px 0px rgba(0,0,0,0.5);
    transition: all 300ms ease ;
}
nav ul li:hover ul{
    visibility: visible;
    opacity: 1;
    top: 70px;
}
nav ul li ul::before{
    content: "";
    width: 0;
    height: 0;
    border-left:  12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid rgb(213, 247, 251);
    position: absolute;
    top: -12px;
    left: 20px;
}
nav ul li ul li a{
    display: block;
    color: black;
    font-weight: 500;
    padding: 6px;
    padding-left: 14px;
    margin-top: 10px;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 300ms ease;
}
nav ul li ul li a:hover{
    background:  rgb(54, 113, 127);
    color: white;
    transform: scale(1.1);
    padding-left: 30px;
    font-size: 15px;
    box-shadow:0px 0px 10px 0px rgba(0,0,0,0.5);   
}
/*Contenido*/
main{
    margin-top:auto;
}
/*Elementos responsivos*/
.icon_menu{
    font-size: 26px;
    color: white;
    font-weight: 500;
    cursor: pointer;
    width: 26px;
    height: 100%;
    display: none;
    align-items: center;
}
#check_menu{
    display: none;
}
#label_check{
    width: 26px;
    height: 100%;
    display: none;
}
/*Contenido section nike*/
.image-logonike img{
    width: 170px;
    padding: 0px 40px 0px 0px;
    transition: all 400ms;
}
.image-logonike img:hover{
    transform: scale(1.2);
    
}
.container-all-nike{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 40px 0px;
}
.logo_name h1{
    display: flex;
    margin: auto;
    font-size: 40px;
    font-weight: 600;
    padding: 0px 40px;
}
.logo_name p{
    padding: 0 40px;
}
.container-all-nike h1{
    color: white;
    animation-name: example;
    animation-duration: 15s;
    animation-delay: 6ms;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
  
  @keyframes example {
    0%   {color: rgb(76, 123, 122);}
    5%   {color: rgb(41, 73, 99);}
    10%   {color: rgb(58, 75, 132)}
    15%   {color: rgb(94, 72, 131);}
    20%   {color: rgb(93, 50, 85);}
    25%   {color: rgb(152, 123, 48);}
    30%   {color: rgb(144, 144, 144);}
    35%   {color: rgb(41, 64, 35);}
    40%   {color: rgb(69, 98, 97);}
    45%  {color: rgb(92, 95, 138);}
    50%  {color: rgb(32, 84, 75);}
    55% {color: rgb(133, 176, 255);}
    60% {color: rgb(205, 139, 234);}
    65% {color: rgb(72, 95, 114);}
    70% {color: rgb(138, 223, 181);}
    75% {color: rgb(67, 45, 12);}
    80% {color: rgb(136, 58, 40);}
    85% {color: rgb(73, 24, 24);}
    90% {color: rgb(60, 235, 127);}
    95% {color: rgb(108, 62, 34);}
    100% {color: rgb(91, 26, 61);}
  }
.logo_name p{
    font-size: 20px;
}
.content_sneaker{
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    padding: 60px 35px;
}
.content_sneaker_new{
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    padding: 10px 0px 60px 0px;
}
.content_sneaker_new .new{
    display: flex;
    font-size: 12px;
    margin: auto;
    font-weight: 600;
    font-size: 12px;
    margin-left: 3px;
    align-items: center;
    color: rgb(205, 0, 0);
}
.image-nike{
    width: 125px;
    height: 125px;
    transition: all 350ms;
}
.image-nike_2{
    width: 110px;
    height: 65px;
    margin-left: 5px;
    transition: all 350ms;
}
.image-nike_3{
    width: 100px;
    height: 100px;
    transition: all 350ms;
}
.image-nike_3:hover{
    transform: scale(1.2);
}
.image-nike_2:hover{
    transform: scale(1.2);
}
.image-nike:hover{
    transform: scale(1.2);
    z-index: 5;
}
.sneaker_uno p,.sneaker_dos p,.sneker_tres p,.sneaker_cuatro p{
    font-size: 15px;
    padding: 2px 2px;
    font-weight: 400;
}
.sneaker_uno small,.sneaker_dos small,.sneaker_tres small,.sneaker_cuatro small{
   padding: 0px 25px 0px 0px ;
   font-weight: 550;
}
.sneaker_uno button,.sneaker_dos button,.sneaker_tres button,.sneaker_cuatro button{
    padding: 0 4px;
    cursor: pointer;
    font-weight: 700;
    transition: all 300ms;
}
.sneaker_uno button:hover,.sneaker_dos button:hover,.sneaker_tres button:hover,.sneaker_cuatro button:hover{
    background-color: black;
    color: white;
    transform: scale(1.2);
    border-radius: 2px;

}
/*Inicio Footer*/
.footer_conten{
    height: 240px;
    align-items: center;
    margin-bottom: auto;
    background-color: black;
    max-width: 1200px;
 } 
 .logo_footer{
    display: flex;
    padding: 1px 20px;
    align-items: center;
 }
 .titulo_footer{
    color: white;
    font-weight: 200px;
    display: flex;
    align-items: center;
    padding: 20px 10px;
 }
 .logo_footer img{
   width: 50px;
   border-radius: 80px;
 }
 .contenedor {
    align-items: center;
    padding: 10px 25px;
 }
 .contenedor a{
    text-decoration: none;
    color: white;
 }
 .contenedor a:hover{
    color: #2C3E50;
    transform: scale(1);
    opacity:1;
    transition: all 300ms;
 }
 .creditos{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
 }
 .creditos small{
    color: white;
    display: flex;
    margin: auto;
    text-align: center;
 }
 .creditos a{
    text-decoration: none;
    color:rgb(23, 25, 65);
    text-align: center;
    display: flex;
    margin: auto;
 }
 .one{
    width: 100%;
    background:whitesmoke;
}
 .two{
    width: 100%;
    margin-left: 6px;
    background:whitesmoke
 }
 .website {
display: flex;
justify-content: center;
align-items: center;
 }
 .website a{
    text-decoration: none;
    display: flex;
    padding-inline-start: 8px;
    color: white;
 }
 .website a:hover{
    color: #406385;
    transition: all 300ms;
    transform:scale(1.5);
 }
/*Inicio responsive*/
@media screen and ( max-width: 720px){
    .search {
        display: none; 
    }
    .Titulo, .subtitulo{
        margin-left: auto;
        padding: 5px;
    }
    .contenido-divido{
        display: none;
    }
    .container_menu{
    padding: 10px;

    }
    .logo img{
        width: 60px;
    }
    nav > ul{
        flex-direction: column;
        background-color: rgb(143, 179, 183);
        position: fixed;
        left: 0;
        top: 158px;
        width: 100%;
        height: 0px;
        transition: all 300ms ease;
        z-index: 100;
        opacity: 0;
        visibility: hidden;
    }
    nav > ul > li > a:hover{
        transform: scale(1.1);
    }
    nav ul li ul{
        left: -8px;
    }
    nav ul li:hover ul{
        top: 50px;

    }
    nav ul li:first-child a{
        background-position: 20px;
    }
    #selected{
        transform: scale(1);
    }
    #label_check{
        display: block;
    }
    .icon_menu{
        display: flex;
    }
    #check_menu:checked ~ nav > ul{
        height: 250px;
        position: static;
        opacity: 1;
        visibility: visible;
    }
    .image-nike{
        width: 90px;
        height: 90px;
    }
    .sneaker_cuatro{
        display: none;
    }
    .sneaker_uno p,.sneaker_dos p,.sneaker_tres p{
        font-size: 12px;
        font-weight: 600;
        padding: 1px 1px;
    }
    .sneaker_uno small,.sneaker_dos small,.sneaker_tres small{
       padding: 0px 5px 0px 0px ;
       font-weight: 550;
    }
    .sneaker_uno button,.sneaker_dos button,.sneaker_tres button{
        padding: 0 2px;
        cursor: pointer;
        font-weight: 550;
        transition: all 300ms;
    }
    .image-logonike img{
        width: 100px;
        padding: 0px 0px 0px 0px;
        transition: all 400ms;
    }
    .image-logonike img:hover{
        transform: scale(1.2);
        
    }
    .container-all-nike{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: auto;
        padding: 50px 0px;
    }
    .logo_name h1{
        display: flex;
        margin: auto;
        font-size: 30px;
        font-weight: 600;
        padding: 0px 20px;
    }
    .logo_name p{
        padding: 0 20px;
        font-size: 14px;
        font-weight: 600;
    }
}